<ion-header>
  <ion-toolbar>
    <ion-title>Resources</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="size">
  <b>How to connect the cpu to the motherboard:</b>
</div>
  <br>
  <br>
<div class="text">
  - GO TO: Connecting the CPU to the <br>Motherboard (GUIDE):
  <br>
  <img id="one" src="https://images.unsplash.com/photo-1515896769750-31548aa180ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
</div>

<br>
<div class="text">
  - GO TO: Connecting the cpu to the <br> Motherboard (VIDEO):
  <br>
  <img id="two" src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg">
</div>

<br>
<div class="text">
  - GO TO: Connecting the CPU to the <br> Motherboard (FORUM):
  <br>
  <img id="three" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg">
</div>


</ion-content>
