.text{
    border: 1px solid black;
    height: 190px;
}

#one{
    position: absolute;
    width: 200px;
    height: 130px;
    top: 100px;
    left: 95px;
}

#two{
    position: sticky;
    width: 200px;
    height: 130px;
    top:100px;
    left: 95px;
}

#three{
    position: sticky;
    width: 200px;
    height: 130px;
    top:100px;
    left: 95px;
}