
p.solid {
    border: 1px solid;
    border-radius: 10px;
    border-color: blue;
    height: 60px;
    width: 375px;
    text-align: center;
}

// .text{
//     border: 1px solid black;
//     height: 230px;
// }

#one{
    position: sticky;
    width: 200px;
    height: 130px;
    top:100px;
    left: 95px;
}

#two{
    position: sticky;
    width: 200px;
    height: 130px;
    top:100px;
    left: 95px;
}

#three{
    position: sticky;
    width: 200px;
    height: 130px;
    top:100px;
    left: 95px;
}