<<<<<<< HEAD
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }

.grid-item {
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 160px;
    padding-right: 5px;
}

ion-label{
    padding: 10px 0;
}
=======
ion-label{
    padding: 10px 0;
}

// .center{
//     // // padding-bottom: 60px 0;
//     // text-align: center;
//     background-color: lightgrey;
//     width: 300px;
//     border: 3px solid green;
//     padding: 5px;
//     margin: 5px;
// }
>>>>>>> fdb8e35350aff37fab712512997e21bb64837569

ion-button{
    width: 150px;
    height: 120px;
    font-size: 12px;
}

ion-title{
    text-align: center;
}


#move{
    padding-left: 0px;

}


#one{
    padding-left: 180px;
    position: relative; top: 0px;
    width: 50%;
}

#two{
    padding-left: 0px;
    position: relative; top: 0px;
    width: 50%;
}


#three{
    padding-left: 180px;

}


#four{
    padding-left: 0px;
}


ion-button{
    width: 150px;
    height: 120px;
}
