<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME PAGE 
    <ion-list>

      </ion-list>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home Page</ion-title>
    

    </ion-toolbar>
  </ion-header>

<!-- List of Text Items -->
<ion-list>
  <ion-item class="center">
          
    <ion-label> How to connect the CPU <br> to the motherboard:</ion-label>
   <ion-button size="medium" href="/resources"  fill="outline">Guide</ion-button>
    <!--<img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" alt="pc" width="50px" height="60px">-->

  </ion-item>

  <ion-item class="center">

    <ion-label>How to mount the cooling <br> fan onto the cpu:</ion-label>
    <ion-button size="medium" href="/resources2" fill="outline">Guide</ion-button>
    <!--<img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" alt="pc" width="50px" height="60px">-->
  </ion-item>

  <ion-item class="center">

    <ion-label> How to connect the storage <br> method to the motherboard:</ion-label>
    <ion-button size="medium" href="/resources7" fill="outline">Guide</ion-button>
    <!--<img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" alt="pc" width="50px" height="60px">-->
  </ion-item>

  <ion-item class="center">

    <ion-label> How to install the RAM <br> into their slots:</ion-label>
    <ion-button size="medium" href="/resources3" fill="outline">Guide</ion-button>
    <!--<img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" alt="pc" width="50px" height="60px">-->
  </ion-item>

  <ion-item class="center">
    
    <ion-label>How to install the GPU <br> to the motherboard:</ion-label>
    <ion-button size="medium" href="/resources4" fill="outline">Guide</ion-button>
    <!--<img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" alt="pc" width="50px" height="60px">-->
  </ion-item>

  <!--<ion-item>
    <ion-label padding>Simplified Guide (2020)</ion-label>
   <ion-button href="/resources5" fill="outline">Guide</ion-button>
    <img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" alt="pc" width="50px" height="60px">
  </ion-item>-->

  <!--<ion-item>
    <ion-label padding>Simplified Guide (2020)</ion-label>
    <ion-button href="/resources6" fill="outline">Guide</ion-button>
    <img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" alt="pc" width="50px" height="60px">
  </ion-item>-->



</ion-list>

  
</ion-content>
