<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME PAGE 
    <ion-list>

      </ion-list>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="middle" size="large">Home Page</ion-title>
    

    </ion-toolbar>
  </ion-header>

<!-- List of Text Items -->

<div class="grid-container">
  
  <div class="grid-item">
    <ion-item class="left" lines="none">
      <p id="move">
        <ion-label> 
          <ion-button href="/resources" >How to connect the CPU <br> to the motherboard: </ion-button>
        </ion-label>
      </p>
      <!-- <ion-button size="medium" href="/resources"  fill="outline">GO TO:</ion-button> -->
    </ion-item>
  </div>

  <div class="grid-item">
    <ion-item class="right" lines="none">
      <p id="one">
      <ion-label> 
        <ion-button href="/resources2" > How to mount the cooling <br> fan onto the cpu:</ion-button>
      </ion-label>
      </p>
      <!-- <ion-button size="medium" href="/resources2" fill="outline">GO TO:</ion-button> -->
    </ion-item>
  </div>

<div class="grid-item">
    <ion-item class="center" lines="none">
      <p id="two">
      <ion-label> <ion-button href="/resources3" >How to install the RAM <br> into their slots: </ion-button> </ion-label>
      </p>
      <!-- <ion-button size="medium" href="/resources3" fill="outline">GO TO:</ion-button> -->
    </ion-item>
</div>

<div class="grid-item">
    <ion-item class="center" lines="none">
      <p id="three">
      <ion-label>  <ion-button size="medium" href="/resources4"> How to install the GPU <br> to the motherboard:</ion-button></ion-label>
      </p>
      <!-- <ion-button size="medium" href="/resources4" fill="outline">GO TO:</ion-button> -->
    </ion-item>
</div>

<div class="grid-item">
    <ion-item class="center" lines="none">
      <p id="four">
      <ion-label>  <ion-button href="/resources5" >How to connect the storage <br> method to the motherboard:</ion-button></ion-label>
      </p>
      <!-- <ion-button size="medium" href="/resources5" fill="outline">GO TO:</ion-button> -->
    </ion-item>
</div>
  
<div class="grid-item">
  <ion-item class="center" lines="none">
    <p id="four">
    <ion-label>  <ion-button href="/resources6" >Mount the PSU <br> to the case:</ion-button></ion-label>
    </p>
    <!-- <ion-button size="medium" href="/resources5" fill="outline">GO TO:</ion-button> -->
  </ion-item>
</div>

<div class="grid-item">
  <ion-item class="center" lines="none">
    <p id="four">
    <ion-label>  <ion-button href="/resources7" > Connecting the front <br> panel connectors:</ion-button></ion-label>
    </p>
    <!-- <ion-button size="medium" href="/resources5" fill="outline">GO TO:</ion-button> -->
  </ion-item>
</div>

<div class="grid-item">
  <ion-item class="center" lines="none">
    <p id="four">
    <ion-label>  <ion-button href="/resources8" > Installing windows 10:</ion-button></ion-label>
    </p>
    <!-- <ion-button size="medium" href="/resources5" fill="outline">GO TO:</ion-button> -->
  </ion-item>
</div>


</div>

</ion-content>



