<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME PAGE
    <ion-list>
        <ion-item>

          <ion-select placeholder="Select One">
            <ion-select-option value="f">Easy</ion-select-option>
            <ion-select-option value="m">Medium</ion-select-option>
            <ion-select-option value="m">Hard</ion-select-option>

          </ion-select>
        </ion-item>
      </ion-list>
    </ion-title>
  </ion-toolbar>
</ion-header>





<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    

    </ion-toolbar>
  </ion-header>

<!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-label>Simplified Guide (2020)</ion-label>
    <ion-button href="/resources"  fill="outline">Easy Guide</ion-button>
    <img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" alt="pc" width="50px" height="60px">
  </ion-item>

  <ion-item>
    <ion-label>Simplified Guide (2020)</ion-label>
    <ion-button href="/resources2" fill="outline">Easy Guide</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Simplified Guide (2020)</ion-label>
    <ion-button href="/resources3" fill="outline">Medium Guide</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Simplified Guide (2020)</ion-label>
    <ion-button href="/resources4" fill="outline">Medium Guide</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Simplified Guide (2020)</ion-label>
    <ion-button href="/resources5" fill="outline">Hard Guide</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Simplified Guide (2020)</ion-label>
    <ion-button href="/resources6" fill="outline">Easy Guide</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Simplified Guide (2020)</ion-label>
    <ion-button href="/resources7" fill="outline">Hard Guide</ion-button>
  </ion-item>

</ion-list>

  
</ion-content>
