<ion-header>
  <ion-toolbar>
    <ion-title>Installing windows 10:</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div id="size">
    <!-- <b> Installing windows 10:</b> -->
  </div>
    <!-- <br>
    <br> -->
  <div class="text" (click)="openBlank()">
    <p class="solid">
    - GO TO: Installing windows 10 (GUIDE):
    </p>
    <br>

    <img id="one" src="https://cdn.mos.cms.futurecdn.net/XT2x4kW225BCxYJSsU75Wo-1024-80.jpg.webp">

  </div>
  
  <br>
  
  <div class="text" (click)="openBlank2()">
    <p class="solid">
    - GO TO: Installing windows 10 (VIDEO):
    </p>
    <br>
    <img id="two" src="https://i.ytimg.com/vi/vHS_3qi0kXg/maxresdefault.jpg">
  </div>
  
  <br>
  
  <div class="text" (click)="openBlank3()">
    <p class="solid">
    - GO TO: Installing windows 10 (FORUM):
    </p>
    <br>
    <img id="three" src="https://i.ytimg.com/vi/ypRDe7tgKDU/maxresdefault.jpg">
  </div>

</ion-content>
